.signup{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

.formField{
	margin:8px 0 !important;
}

.formButton{
	margin:8px 0 !important;
	height:56px
}

.profileImageWrapper{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profileImageWrapper #image{
	display: none;
}

.profileImageWrapper label{
	cursor: pointer;
}

.profileImageWrapper label>img{
	width:150px;
	height: 150px;
	border-radius:50%;
}

.profileImageWrapper .fileWrapper>img{
	max-width: 100%;
	max-height: 100%;
}

.profileImageWrapper .absolute{
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	width:100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}

.profileImageWrapper .imageWrapper:hover .absolute{
	visibility: visible;
	opacity: 1;
}

.logo{
	color:purple;
	margin:8px 0;
}