.layout{
	min-height: 100vh;
	position: relative;
	padding-top:10px;
}

.fab{
	position: fixed !important;
	bottom:20px;
	right:20px;
}

.fabHome{
	position: fixed !important;
	bottom:96px;
	right:20px;
}